header {
    width: calc(100vw - (100vw - 100%));
    height: 80vh;
    background: url("../../assets/images/business.jpeg") no-repeat;
    background-size: cover;
    font-family: 'Libre Franklin';
    font-weight: 400;
    color: white;
}

.filter {
    width: 100%;
    height: 100%;
    background: rgba(198, 108, 73, 0.45);
}

.filter .menu {
    padding-top: 2.5rem !important;
}

.navbar-brand {
    color: white !important;
}

.nav-link {
    color: white !important;
}

.navbar-light .navbar-toggler {
    border-color: transparent !important;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 0rem;
    padding-top: 3rem;
}

.texts h1 {
    font-family: 'Libre Franklin';
    font-weight: 400;
}

@media (min-width: 992px) {
    .texts {
        justify-content: left;
        display: inline-block;
        padding-left: 1rem;
        padding-top: 5rem;
    }
}